__pycache__/
    config.cpython-39.pyc
    *.pyc
    *.pyo
    *.pyd
    *.so
    *.dylib
    *.egg-info
    *.egg
    .cache
    .coverage
    .tox
    .eggs
    *.egg
    .eggs
    *.egg-info
    .installed.cfg
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.de

*.egg-info
    .installed.cfg
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .mr.developer.ini
    .mr.developer.json
    .mr.developer.pickle
    .mr.developer.pyc
    .mr.developer.pyo
    .mr.developer.cfg
    .