*
{
    margin: 0;
    padding: 0;
}

/*Navigation Bar*/
html{
    height: 100%;
    width: 100%;
}
@keyframes ex{
    0%{ 
        margin-top: 400px;
    }
    100%{
        margin-top: 0;
    }
}
.navbar {
    padding: 0.5% ;
    padding-left: 5%;
    padding-right: 2%;
    position: relative;
    display: flex;
    background-color: #ccccff;
    height: 3.5rem;
    max-width: 100%;
    box-shadow: 0 0 8px 0 grey;
    justify-content: space-around;
    top:0;
    animation: ex;
    animation-duration: 0.5s;
}
.navbar ul{

    display: flex;
    width:100%;
    list-style: none;
    justify-content: space-between;


    font-family: 'Dongle', sans-serif;
    font-size: 1.8rem;

  
}
.navbar li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.navbar a{
    text-decoration: none;
    color: black;
}
#a1{
    color: black;
}
#a2{
    margin-left: 30%;
}
.navbar a:hover{
    color: #646262;
}
.carim
{
    
    margin-top: 50%;
   
}
.carim1
{
    width: auto;
    height: 25px;
    /* margin-bottom: 50%; */
    margin-top: 70%;
}
.navbar form{
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    height: 2vw;
    align-items: center;
}
/*.search{
width: 500px;
display: flex;
}*/

.search-box{
    /*top:10%;*/
    width: 100%;
    height: 100%;
    padding-left: 3%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    text-transform: capitalize;
    background: white;
    color: #a9a9a9;
    outline: none;
}

#search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#a3 button{
    border:none;
    background:none;
    cursor: pointer;
}
.search-box::placeholder{
    color: #a9a9a9;
}
#login{
    display: none;
    width: 60%;
    border: 2px solid;
}
.login_karo
{
    position: relative;
	transition: all 5s ease-in-out;
    width: 30%;
}

/*Profile dropdown*/

.profile
{
    color: #000;
    font-size: 25px;
    border: none;
    font-family: 'Dongle', sans-serif;
}

.profile:hover
{
    color: #646262;
}

.profile_dropdown 
{
    position: relative;
    display: flexbox;
   
}

.profile-content 
{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 30%;
}
  
.profile-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-content a:hover {
    background-color: #ddd;
}

.profile_dropdown:hover .profile-content 
{
    display: block;
}

.profile_.dropdown .profile {
    background-color: #000;
}






.price
{
    font-size:30px;
    width: 40%;
    height: 40%;
    
}
.product-image
{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    padding: 50px 5vw;
}
.card
{
    width: 450px ;
    height: 450px;
    position: relative;
  
}
.details
{
    font-size: 25px;
}
.edit-img
{
    position: static;
    bottom: 20px;
    left: 50%;
    width: 80%;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #ccc;
    overflow: hidden;
}

.edit-img img
{
    object-fit:fill;
    cursor: pointer;
    position: relative;
    border:2px solid #fff;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.edit-img:hover img
{
    transform: scale(1.2);
}
h1
{
    text-transform: uppercase;
    font-size: 45px;
}
.size{
    font-weight: 300;
    margin: 30px 0 10px;
    font-size: 25px;
}
.size_button
{
    display: inline-block;
    width: 77px;
    height: 77px;
    text-align: center;
    margin: 10px;
    line-height: 80px;
    border-radius: 30%;
    border: 1p solid #383838;
    font-size: 20px;
    margin-left: 0;
    text-transform: uppercase;
    color: #383838;

}
.size_button.check
{
    background: #383838;
    color:azure;
}

.btns
{
    padding: 12px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 37%;
    font-size: 15px;
    float: left;
    margin-left: 3%;
    border-radius: 10px;
    margin: 25px;
    transform: translate(20%);
}

.reviews
{
    font-size: 20px;
    font-weight: 300;
    margin: 30px 0 10px;
}

.bid_daalo
{
    padding: 10px;
    color: #000;
    background-color: #fff;
    width: 25%;
    font-size: 15px;
    margin: 10px;
    border-radius: 30px;
}