<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Form Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="addproduct.css">
    
</head>

<body>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Ubuntu&display=swap" rel="stylesheet">
  <script src="merchandise.js"></script>

  <header>
    <nav class="navbar">
      <ul>
  
        <li id="a1"><b>CDSLite</b></li>
        <li id="a2"></li>
        <li id="a2"></li>
        <li id="a3"><a href="index.html">Bid</a></li>
        <li id="a3"><a href="barterproduct.html">Barter</a></li>
        <li id="a3"><a href="merchandise.html">Merchandise</a></li>
        <li id="a3"><a href="cart.html"><img src="cart.png" alt=""></a></li>
        <li id="a3">
              <div class="profile_dropdown">
                  <button class="profile"><img src="user.png" alt=""></button>
                  <div class="profile-content">
                      <a href="#">Edit Profile</a>
                      <a href="addProduct.html">Add Product</a>
                      <a href="myproducts.html">My Product</a>
                      <a href="#">My order</a>
                      <a href="login.html">log Out</a>               
                  </div>
              
              </div>
            
          </li>
      </ul>
    </nav>
  </header>
  
  <form method="POST" action="" class="card">
        
        Product Name 
        <input type="text" name="product-name" />
        <br>
        Description
         <input type="textarea" name="description" />
        <br>
        
          <br>
          <form method="POST" action="" enctype="multipart/form-data">
            Upload Product Images <input type="file" name="images[]" class="upload_btns" multiple>
            <input type="submit" value="Upload">
          </form>
          <div class="text-center">
        <input type="submit">
          </div>
      </form>
      <script src="pdt_form.js"></script>

</body>
</html>