<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bid_buyer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/product.js') }}">
</head>

<!--Navigation Bar-->
<link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Ubuntu&display=swap" rel="stylesheet">
  <script src="index.js"></script>
</head>
<header>
  <nav class="navbar">
    <ul>

      <li id="a1"><b>CDSLite</b></li>
      <li id="a2">
        <form>
            <input type="text" class="search-box" placeholder="Search products">
            <button id="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </form>
        </li>
        <li id="a3"><a href="index.html">Bid</a></li>
        <li id="a3"><a href="barterproduct.html">Barter</a></li>
        <li id="a3"><a href="merchandise.html">Merchandise</a></li>
        <li id="a3"><a href="cart.html"><img src="cart.png" alt=""></a></li>
        <li id="a3">
            <div class="profile_dropdown">
                <button class="profile"><img src="user.png" alt=""></button>
                <div class="profile-content">
                    <a href="profile.html">Edit Profile</a>
                    <a href="addproducts.html">Add Product</a>
                    <a href="myproducts.html">My Product</a>
                    <a href="#">My order</a>
                    <a href="login.html">log Out</a>               
                </div>
            
            </div>
          
        </li>
    </ul>
  </nav>
</header>




  <!--Product Details-->
<div class="product-image">
    <section>
        <div class="card">
            <div class="edit-img">
                <img src="product1.png" alt="">
            </div>
        </div>
    </section>
    <section>
        <h1>Blithchron Hoodie</h1><br>
        
        
       <br>
        <p class="details">Dark Blue Colored Blithchron Hoodie with Blithchron Logo.</p><br>
        <span class="price">Base Price: Rs.800</span><br>

        <p class="size">PLACE BID: Rs.<input type="number" name="bid" id="" class="bid_daalo"></p>
        
        
        
        <button class="btns" onclick="confirmBid()">Submit</button>
    </section>
    <script>
        
            function confirmBid() 
            {
                if (confirm("Are you sure?")) {
                    // Code to Bid successfully the product
                    alert("Bid Placed Successfully");
                }
            }
        </script>
   
</div>