<head>
    <link rel="stylesheet" href="/static/css/bidpage.css">
    <script src="/static/js/bidpage.js"></script>
</head>

<!--Navigation Bar-->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Ubuntu&display=swap" rel="stylesheet">
  <script src="/static/js/index.js"></script>
</head>
<header>
  <nav class="navbar">
    <ul>

      <li id="a1"><b>CDSLite</b></li>
      <li id="a2">
        <form>
            <input type="text" class="search-box" placeholder="Search products">
            <button id="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </form>
        </li>
        
        <li id="a3"><a href="{{ url_for('index') }}">Bid</a></li>
        <li id="a3"><a href="barter.html">Barter</a></li>
        <li id="a3"><a href="merchandise.html">Merchandise</a></li>
        <li id="a3"><a href="cart.html"><img src="/static/image/cart.png" alt=""></a></li>
        <li id="a3">
            <div class="profile_dropdown">
                <button class="profile"><img src="/static/image/user.png" alt=""></button>
                <div class="profile-content">
                    <a href="#">Edit Profile</a>
                    <a href="{{ url_for('product') }}">Add Product</a>
                    <a href="{{ url_for('myproducts') }}">My Product</a>
                    <a href="#">My order</a>
                    <a href="/logout">log Out</a>               
                </div>
            
            </div>
          
        </li>
    </ul>
  </nav>
</header>

  <!--Product Details-->
<div class="product-image">
    <section>
        <div class="card">
            <div class="edit-img">
                <img src="/static/image/product1.png" alt="">
            </div>
        </div>
    </section>
    <section class="Display_Bids">
        
        <h1>{{bidarray[0]['ProductName']}}</h1>
        <p class="details">{{bidarray[0]['Description_']}}</p>
        <br>
        <span class="price"><b>BASE PRICE:</b> Rs. {{bidarray[0]['BasePrice']}}</span><br>
        <br>
        <p class="size"><b>Select Bid:</b></p>
        <script src="/static/js/product.js"></script>
        <script>
        //let Bids = [10, 15, 20, 25, 30,67,89];
        //let Barter = [23,46];
        new_bidarr = {{bidarray|tojson}};
        displayBidsAsButtons(new_bidarr);
        displayBarterAsButtons(Barter);
        </script>

       <!-- <a href="barter_buyer.html"><button class="btns1">Barter</button></a>  -->
       
    </section>
</div>