<!DOCTYPE html>
<html>

<head>
    <title>Login Form Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/style.css">
    <script type = "text/javascript" src="../static/js/pdt_form.js"></script>
</head>

<body>
    <form method="POST" action="">
        
        ProductName <input type="text" name="product-name" />
        <br>
        Description <input type="textarea" name="description" />
        <br>
        is Merchandise <select id="Merch" name="Merch" onclick="displaynext()">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        <br>
          <div id="Yes" style="display:none;"><br/>
            MRP<input type="number" name="MRP" />
            <br>
            Quantity<input type="number" name="Quantity"/>
            <br>
          </div>
        
          <div id="No" style="display:none;" ><br/>
            Base Price<input type="number" name = "BasePrice"/>
            <br>
            is Barter<input type="radio" id = "YesBarter" name="isBarter" value ="Yes" >Yes
            <input type="radio" id="NoBarter" name="isBarter" value ="No" >No
            <br>        
          </div>

          <div id="categ">
            <br>
	
            Category<select id="cat" name="cat" >
              <!-- <option value="Clothing and Accessories">Clothing and Accessories</option>
              <option value="Automotive Accessories">Automotive Accessories</option>
              <option value="Food Products">Food Products</option>
              <option value="Books">Books</option>
              <option value="Industrial & Scientific Supplies">Industrial & Scientific Supplies</option>
              <option value="Health Care">Health Care</option>
              <option value="Home Improvement">Home Improvement</option>
              <option value="Building Materials and Supplies">Building Materials and Supplies</option>
              <option value="Beauty and Grooming">Beauty and Grooming</option>
              <option value="Mobiles & Accessories">Mobiles & Accessories</option>
              <option value="Computers">Computers</option>
              <option value="Cameras & Accessories">Cameras & Accessories</option>
              <option value="Gaming">Gaming</option>
              <option value="Home Entertainment">Home Entertainment</option>
              <option value="Home & Kitchen">Home & Kitchen</option>
              <option value="Pens & Stationery">Pens & Stationery</option>
              <option value="Bags, Wallets & Belts">Bags, Wallets & Belts</option>
              <option value="Home Lighting">Home Lighting</option>
              <option value="Kitchen, Cookware & Serveware">Kitchen, Cookware & Serveware</option>
              <option value="Jewellery">Jewellery</option>
              <option value="Home Cleaning & Bathroom Accessories">Home Cleaning & Bathroom Accessories</option>
              <option value="Audio & Video">Audio & Video</option>
              <option value="Eyewear">Eyewear</option>
              <option value="Vas">Vas</option>
              <option value="Pet Supplies">Pet Supplies</option>
              <option value="Home Furnishing">Home Furnishing</option>
              <option value="Sports">Sports</option> -->
              {% for j in catlist %}
                <OPTION value={{j[0]}}>{{j[1]}}</OPTION>
              {% endfor %}
            </select>
            <br>
            <br>
            Sub Category<select id = "scat" name="scat" multiple>
              {% for j in subcatlist %}
                <OPTION value={{j[0]}}>{{j[1]}}</OPTION>
              {% endfor %}
            </select>
            <br>
          </div>

        <input type="submit">
      </form>

</body>

</html>