<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="/static/css/myproduct.css">
    <script type = "text/javascript" src="../static/js/pdt_form.js"></script>
</head>

<body>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Ubuntu&display=swap" rel="stylesheet">
  <script src="/static/js/myproducts.js"></script>

  <header>
    <nav class="navbar">
      <ul>
  
        <li id="a1"><b>CDSLite</b></li>
        <li id="a2">
          <form>
              <input type="text" class="search-box" placeholder="Search products">
              <button id="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
              </button>
          </form>
          </li>
         
          <li id="a3"><a href="{{url_for('index')}}">Bid</a></li>
          <li id="a3"><a href="{{url_for('Barter')}}">Barter</a></li>
          <li id="a3"><a href="{{url_for('merchandise')}}">Merchandise</a></li>
          <li id="a3"><a href= "{{url_for('read_shopping_cart')}}"><img src="/static/image/cart.png" alt=""></a></li>
          <li id="a3">
                <div class="profile_dropdown">
                    <button class="profile"><img src="/static/image/user.png" class="carim" alt=""></button>
                    <div class="profile-content">
                        <a href="#">Edit Profile</a>
                        <a href="{{ url_for('product') }}">Add Product</a>
                        <a href="{{ url_for('myproducts') }}">My Product</a>
                        <a href="#">My order</a>
                        <a href="/logout">log Out</a>               
                    </div>
                
                </div>
              
          </li>
      </ul>
    </nav>
  </header>

    <!--Categories-->
    <div class="sidebar-default">

   </div>

    <div class="card">

        <div class="product_container"></div> 

         <script src="/static/js/merchandise.js"></script>
        <script>
          products = {{plist | tojson}}
          createProductCards(products);
        </script>
    </div>
</body>
</html>