<!DOCTYPE html>
<html>

<head>
    <title>Login Form Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/style.css">
    <script type = "text/javascript" src="../static/js/pdt_form.js"></script>
</head>

<body>
  <script>
    function del_Function_fp() {
      const param1 = JSON.parse(document.getElementById('data2').textContent)
      var ans = confirm("Are you Sure to delete the corresponding product? It will be deleted permanantly.");
      console.log(ans);
      if(ans){
        fetch(`/dele/${param1}`)
        .then(response => response.text())
        .then(data => {
          console.log("in func")
        })
        .catch(error => {
          console.log("here")
          console.error(error);
        });
      }
      else {
        alert("Product Not deleted!")
      }
    }

    function del_Function_vp() {
      const param1 = JSON.parse(document.getElementById('data').textContent)
      var ans = confirm("Are you Sure to delete the corresponding product? It will be deleted permanantly.");
      console.log(ans);
      if(ans) {
        fetch(`/dele/${param1}`, {
          method: 'POST'
        })
        .then(response => response.text())
        .then(data => {
          console.log("in func");
          alert("Product Deleted Successfully! Reload the page to see the updated products")
        })
        .catch(error => {
          console.log("here")
          console.error(error);
        });
      }
      else{
        alert("Product Not deleted!")
      }
    }

  </script>

  <h1>Fixed Price Products</h1>
  {% for j in fplist %}
    <a>{{j['ProductName']}}</a>
    <script id = "data2" type = "application/json">{{ j['ProductID']|tojson}}</script>
    <form method="post" action="">
      <button>Edit</button>
    </form>
    <button onclick="del_Function_fp()">Delete</button>
    <br>
  {% endfor %}

  <h1>Variable Price Products</h1>
  {% for j in vplist %}
    <a>{{j['ProductName']}}</a>
    <script id = "data" type = "application/json">{{ j['ProductID']|tojson}}</script>
    <form method="post" action="">
      <button><a href="/vp_products" id="changeToRegister">Edit</a></button>
    </form>
    <button onclick="del_Function_vp()">Delete</button>
    <br>
  {% endfor %}

  
</body>

</html>