<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="/static/css/myproduct.css">
    <script type = "text/javascript" src="../static/js/pdt_form.js"></script>
</head>

<body>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Ubuntu&display=swap" rel="stylesheet">
  <script src="/static/js/myproducts.js"></script>

  <header>
    <nav class="navbar">
      <ul>
  
        <li id="a1"><b>CDSLite</b></li>
        <li id="a2"></li>
        <li id="a2"></li>  
        <li id="a3"><a href="{{ url_for('index') }}">Bid</a></li>
          <li id="a3"><a href="{{ url_for('Barter') }}">Barter</a></li>
          <li id="a3"><a href="merchandise.html">Merchandise</a></li>
          <li id="a3"><a href="/index/shopping_cart"><img src="/static/image/cart.png" class="carim" alt=""></a></li>
          <li id="a3">
              <div class="profile_dropdown">
                  <button class="profile"><img src="/static/image/user.png" class="carim1" alt=""></button>
                  <div class="profile-content">
                      <a href="/read_user">Edit Profile</a>
                      <a href="{{ url_for('product') }}">Add Product</a>
                      <a href="{{ url_for('myproducts') }}">My Product</a>
                      <a href="#">My order</a>
                      <a href="/logout">log Out</a>
                      <a href="/delete_user" id="delete_user">Delete Account</a>
                      <a href="/payment">Pay</a>
                      <script>
                          var payLink = document.getElementById("delete_user");
                          payLink.addEventListener("click", function(event) {
                            event.preventDefault(); // prevent the default link behavior
                        
                            // create a new form element
                            var form = document.createElement("form");
                            form.setAttribute("method", "post");
                            form.setAttribute("action", "/delete_user");
                        
                            // create a hidden input element with a name and value
                            var input = document.createElement("input");
                            input.setAttribute("type", "hidden");
                            input.setAttribute("name", "paramName");
                            input.setAttribute("value", "paramValue");
                        
                            // append the input element to the form element
                            form.appendChild(input);
                        
                            // append the form element to the document body
                            document.body.appendChild(form);
                        
                            // submit the form programmatically
                            form.submit();
                          });
                        </script>           
                  </div>
              
              </div>
            
          </li>
      </ul>
    </nav>
  </header>

  {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        <span style="color: red;">{{ message }}</span><br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
  <script>
    function del_Function_fp(param1) {
      // const param1 = JSON.parse(document.getElementById('data2').textContent)
      var ans = confirm("Are you Sure to delete the corresponding product? It will be deleted permanantly.");
      console.log(ans);
      if(ans){
        fetch(`/dele/${param1}`)
        .then(response => response.text())
        .then(data => {
          console.log("in func")
        })
        .catch(error => {
          console.log("here")
          console.error(error);
        });
      }
      else {
        alert("Product Not deleted!")
      }
    }

    function del_Function_vp(param1) {
      //const param1 = JSON.parse(document.getElementById('data').textContent)
      var ans = confirm("Are you Sure to delete the corresponding product? It will be deleted permanantly.");
      console.log(ans);
      if(ans) {
        fetch(`/dele/${param1}`)
        .then(response => response.text())
        .then(data => {
          console.log("in func");
          alert("Product Deleted Successfully! Reload the page to see the updated products")
        })
        .catch(error => {
          console.log("here")
          console.error(error);
        });
      }
      else{
        alert("Product Not deleted!")
      }
    }
  </script>

<div class="card">

  <div class="product_container"></div> 

  <script src="/static/js/myproducts.js"></script>
  <script>
    const new_vp = {{vplist | tojson}};
    createProductCards(new_vp, 'vp');
    const new_fp = {{fplist | tojson}};
    createProductCards(new_fp, 'fp');
  
  </script>
</div>



  <!-- <h1>Fixed Price Products</h1>
  {% for j in fplist %}
    <a>{{j['ProductName']}}</a>
    <script id = "data2" type = "application/json">{{ j['ProductID']|tojson}}</script>
    <form method="post" action="">
      <button><a href="{{ url_for('fp_products', id=j['ProductID']) }}">Edit</a></button>
    </form>
    <button onclick="del_Function_fp()">Delete</button>
    <button><a href="{{url_for("add_shopping_cart", product_id=j['ProductID'])}}" id="add_to_cart">Add to Cart</a></button>
    <br>
  {% endfor %}

  <h1>Variable Price Products</h1>
  {% for j in vplist %}
    <a>{{j['ProductName']}}</a>
    <script id = "data" type = "application/json">{{ j['ProductID']|tojson}}</script>
    <form method="post" action="">
      <button><a href="{{ url_for('vp_products', id=j['ProductID']) }}">Edit</a></button>
    </form>
    <button onclick="del_Function_vp()">Delete</button>
    <button><a href="{{url_for("add_shopping_cart", product_id=j['ProductID'])}}" id="add_to_cart">Add to Cart</a></button>
    <script>
      var payLink = document.getElementById("add_to_cart");
      payLink.addEventListener("click", function(event) {
        event.preventDefault(); // prevent the default link behavior
    
        // create a new form element
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "{{url_for("add_shopping_cart", product_id=j['ProductID'])}}");
    
        // create a hidden input element with a name and value
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "paramName");
        input.setAttribute("value", "paramValue");
    
        // append the input element to the form element
        form.appendChild(input);
    
        // append the form element to the document body
        document.body.appendChild(form);
    
        // submit the form programmatically
        form.submit();
      });
    </script> 
    <br>
  {% endfor %} -->

  
</body>

</html>