<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>BuySellPortal</title>
</head>
<body>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Ubuntu&display=swap" rel="stylesheet">
  <script src="index.js"></script>

  <header>
    <nav class="navbar">
      <ul>
  
        <li id="a1"><b>CDSLite</b></li>
        <li id="a2">
          <form>
              <input type="text" class="search-box" placeholder="Search products">
              <button id="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
              </button>
          </form>
          </li>
          <li><a href="index.html">Home</a></li>
          <li id="a3"><a href="#">Bid</a></li>
          <li id="a3"><a href="barterproduct.html">Barter</a></li>
          <li id="a3"><a href="#">Merchandise</a></li>
          <li id="a3"><a href="#"><img src="cart.png" alt=""></a></li>
          <li id="a3">
              <div class="profile_dropdown">
                  <button class="profile"><img src="user.png" alt=""></button>
                  <div class="profile-content">
                      <a href="#">Edit Profile</a>
                      <a href="addProduct.html">Add Product</a>
                      <a href="myproducts.html">My Product</a>
                      <a href="#">My order</a>
                      <a href="login.html">log Out</a>               
                  </div>
              
              </div>
            
          </li>
      </ul>
    </nav>
  </header>
</body>
</html>