<link rel="stylesheet" href="profile.css">

<body>
    

    <header>
        <nav class="navbar">
          <ul>
      
            <li id="a1"><b>CDSLite</b></li>
            <li id="a2">
              
              </li>
              <li id="a3"><a href="index.html">Bid</a></li>
              <li id="a3"><a href="barter.html">Barter</a></li>
              <li id="a3"><a href="merchandise.html">Merchandise</a></li>
              <li id="a3"><a href="cart.html"><img src="cart.png" alt=""></a></li>
              <li id="a3">
                  <div class="profile_dropdown">
                      <button class="profile"><img src="user.png" alt=""></button>
                      <div class="profile-content">
                          <a href="profile.html">Edit Profile</a>
                          <a href="addProduct.html">Add Product</a>
                          <a href="myproducts.html">My Product</a>
                          <a href="#">My order</a>
                          <a href="login.html">log Out</a>               
                      </div>
                  
                  </div>
                
              </li>
          </ul>
        </nav>
      </header>
  
  <form method="POST" action="" class="card">
        
    <p class="size">First Name: <input type="text" name="bid" id="" placeholder="Vasudev" class="bid_daalo"></p>
    <p class="size">Last Name: <input type="text" name="bid" id="" placeholder="krishna" class="bid_daalo"></p>
    <p class="size">Email: <input type="text" name="bid" id="" placeholder="abc@iitgn.ac.in" class="bid_daalo"></p>
    <p class="size">Mobile Number: <input type="number" pattern="{0-9}[10]" placeholder="7896541235" name="bid" id="" class="bid_daalo"></p>
    <p class="size">Date of Birth: <input type="date" name="bid" class="password" id="" placeholder="" class="bid_daalo"></p>
    <p class="size">Gender: <br>
        <select name="" id="" class="password">
        <option value="transgender">Prefer not to say</option>
        <option value="male" class="">Male</option>
        <option value="female">Female</option>
        <option value="transgender">Transgender</option>
    </select></p>

    <p class="size">Address line: <input type="text" name="bid" placeholder="Block-9 IIT Gandhinagar" id="" class="bid_daalo"></p>
    <p class="size">City: <input type="text" placeholder="Gandhinagar" name="bid" id="" class="bid_daalo"></p>
    <p class="size">Pincode: <input type="number" name="bid" id="" placeholder="382055" class="bid_daalo"></p>
    <button class="btns" onclick="confirmBid()">Submit</button>


      </form>
      <script src="pdt_form.js"></script>

    </body>