<!DOCTYPE html>
<html>

<head>
    <title>Login Form Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <form method="POST" action="">
        First Name <input type="text" name="first-name" />
        <br>
        Last Name <input type="text" name="last-name" />
        <br>
        Email <input type="email" name="email" />
        <br>
        Mobile Number <input type="Number" name="number" pattern="^[1-9][0-9]{9}$"/>
        <br>
        Password <input type="password" name="password" />
        <br>
        DoB <input type="date" name="dob" />
        <br>
        Gender
        <select id="gender" name="gender">
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="other">Other</option>
          </select>
        <br>
        AddressLine <input type="text" name="addressline" />
        <br>
        City <input type="text" name="city" />
        <br>
        PinCode <input type="text" name="pincode" pattern="^[1-9][0-9]{5}$">
        <br>

        <input type="submit">
      </form>

</body>

</html>