<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>

    <link rel="stylesheet" href="/static/css/signup.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <div class="card">
        <div class="side_img">
            <img src="/static/image/iitgn_campus.jpeg" alt="img" class="img">
        </div>
        <div class="side_img">
             
            <form method="post" action="#" class="form active" id="register">
                <h2>Register</h2>
                <label for="firstname">First Name</label>
                <div class="email_add" onclick="activeInput(this)">
                    <input type="text" name="first-name" class="email" id="emailInput" placeholder="Vasudev">
                </div>
                <label for="lastname">Last Name</label>
                <div class="email_add" onclick="activeInput(this)">
                    <input type="text" name="last-name" class="email" id="emailInput" placeholder="Krishna">
                </div>
                <label for="email">Email Address</label>
                <div class="email_add" onclick="activeInput(this)">
                    <input type="email" name="email" class="email" id="emailInput" placeholder="name@mail.com">
                </div>
                <label for="password">Password</label>
                <div class="email_add" onclick="activeInput(this)">
                    <input type="password" class="password" name="password" id="password" placeholder="**********">
                </div>
                <label for="re-password">Confirm Password</label>
                <div class="email_add" onclick="activeInput(this)">
                    <input type="password" class="password" name="confirm-password" id="confirm-password" placeholder="**********">
                </div>
                <label for="dob">Mobile Number</label>
                <div class="email_add" >
                    <input type="number" class="password" name="number" id="dob" placeholder="">
                </div>
                <label for="dob">Date of Birth</label>
                <div class="email_add" >
                    <input type="date" class="password" name="dob" id="dob" placeholder="">
                </div>
                <label for="re-password">Gender</label>
                <div class="email_add" >
                    <select name="gender" id="" class="password">
                        <option value="M" class="">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <label for="dob">Address Line</label>
                <div class="email_add" >
                    <input type="text" class="password" name="addressline" id="dob" placeholder="">
                </div>
                <label for="dob">City</label>
                <div class="email_add">
                    <input type="text" class="password" name="city" id="dob" placeholder="">
                </div>
                <label for="dob">Pincode</label>
                <div class="email_add" >
                    <input type="number" class="password" name="pincode" id="dob" placeholder="">
                </div>

                <a href="./index.html"></a><button class="btn btn-login">Register</button></a>
                <p>Do you have an account? <a href="{{ url_for('login') }}">Log in</a></p>
                <p class="or"></p>
               
            </form>
        </div>
    </div>
 
    
</body>

</html>